.banner-title2 {
  margin: 0 10px;
  color: #fff;
  box-shadow: 0px 0px 70px 0.9px rgba(85, 85, 85, 0.75);
  border-radius: 15px;
  padding: 20px;
}

.contact-banner {
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.contact-banner h1 {
  font-size: 2.5rem;
  color: #fff;
}
.invalid {
  border: 1px solid red;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

.contact-description {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid rgb(0, 114, 66);
  font-size: 18px;
  outline: none;
  color: #333;
}

.form-control {
  font-size: 20px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.hide {
  opacity: 0;
}

textarea {
  width: 360px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 120px;
  font-size: 16px;
}

.btnForm {
  width: 200px;
  margin: auto;
  font-weight: bolder;
  color: black;
  padding: 20px;
  border: 1px solid rgb(0, 114, 66);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: rgb(0, 114, 66);
}

button:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 114, 66) 0%,
    rgb(4, 109, 91) 100%
  );
  color: white;
}

form {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 1px;
  border: none;
  background-color: rgb(0, 114, 66);
}

@media only screen and (min-width: 500px) and (max-width: 1100px)  {
  form {
    
    margin: auto;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  
  }
  input{
    max-width: 200px;
    font-size: 1rem;
  }
  textArea{
    width: 200px;
    height: 80px;
    font-size: 1rem;
  }
  .btnForm{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 350px) and (max-width: 500px)  {
  form {
    margin: auto;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  
  }
  input{
    max-width: 200px;
    font-size: 1rem;
  }
  textArea{
    width: 200px;
    height: 80px;
    font-size: 1rem;
  }
  .btnForm{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
